@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;400&display=swap');
*{
    font-family: 'Source Serif Pro', serif;
}
.App {
    text-align: start;
  
}
h4{
    font-size: 1.6rem;
    font-weight: 600;  
}
h5{
    padding-top: 10px;
    font-size: 1.32rem;
}
p{
    font-size: 0.9rem;
}
span{
    font-size: 1rem;
}
.cardProject{
    margin: 5px 0;
    padding: 30px 10px;
    border: 1px solid #e6dada;
}
@media (max-width: 576px){
    h4{
        padding-top: 6.4px;
        font-size: 1.21rem;  
    }
    h5{
        font-size: 0.98rem;
    }
    p{
        font-size: 0.74rem;
    }
    span{
        font-size: 0.88rem;
    }
    .cardProject{
        margin: 0;
        padding: 10px 8px;
        border: 1px solid #e6dada;
    }   
}
