@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;400&display=swap');
*{
    font-family: 'Source Serif Pro', serif;
}
.App {
    text-align: start;
  
}
.cardMobile{
    display: none;
}
h4{
    padding-top: 4px;
    font-size: 1.6rem;
    font-weight: 600;  
}
@media (max-width: 768px){
    h4{
        padding-top: 6.4px;
        font-size: 1.21rem;  
    }
    h5{
        font-size: 0.98rem;
    }
    p{
        font-size: 0.74rem;
    }
    span{
        font-size: 0.88rem;
    }
    .desktopCard{
        display: none;
    }
    .cardMobile{
        padding: 10px 10px;
        border: 1px solid #e6dada; 
        display: block;
        display: flex;
        flex-direction: row;
    } 
}
